#personal-info div button {
  margin: 5px;
}
/*
.hidden {
  display: none;
} */

.jumbotron {
  background-image: url("../img/jumbo.png");
  height: 45%;
}

img {
  float: left;
  margin: 8px;
  width: 15%;

}
